* {
  box-sizing: border-box;

}

.header {
  width: 100%;
  background-color: aliceblue;
  padding: 20px;
}

h1 {
  padding-left: 760px;
  margin: 0 auto;
}

.object {
  margin : auto;
  padding: 24px 24px;
  display: flex;
  justify-content: center;
  font-size: 32px;
  background-color: ivory;
}

.