

h1{
    font-size: 30px;
    color: black;
}

p{
    font-size: 16px;
    color: gray;
    margin-bottom: 50px;
}

#content_box{
    margin: 100px 0 0 50px;
    text-align: center;
}

button{
    margin: 10px;
    width: 150px;
    height: 30px;
    font-size: 18px;
    font-weight: 800;
}